$Blue:#0774da;
$DarkBlue:#021a5a;

/*GAP'S BETWEEN ELEMENTS*/

$LabelGap:5px;
$InputtGap:1rem;
$ButtonGap:2rem;

/*POPPINS FONT FAMILY*/
@font-face {
    font-family: 'Poppins';
    src: url(Poppins.ttf);
}

/*RESET*/
*{
    padding: 0; margin: 0; bottom: 0; top: 0; left: 0; right: 0; box-sizing: border-box; font-family: 'Poppins';
}

/*FORM STYLE*/
form{
    margin:5rem auto;
    width: 430px;
    height: 510px;
    border-radius: .30rem;
    background-color:rgb(255,255,255);
    box-shadow:0 4px 10px rgba(0,0,0,.300);
}

/*FOMR CONTEINER STYLE*/
form{
    .conteiner{

        padding:30px 20px;

        label,input,small,button{
            display:block;
            margin:0 auto;
        }

        /*INPUT STYLE*/
        input{
            padding:10px 50px;
            border:2px solid rgba(0,0,0,.200);
            border-radius: 5px;
            outline:none;
            color:#1b1b1b;
        }

        /*LABEL STYLE*/
        label{
            margin-bottom: $LabelGap;
            margin-left: 4rem;
            font-size:14px;
            color:$Blue;
            text-transform:uppercase;
        }

        /*SMALL STYLE*/
        small{
            margin-bottom: 2px;
            margin-left: 4rem;
            text-transform:lowercase;
            color:#ee2020;
        }


        /*SELECT STYLE*/
        select{
            margin-left: 4rem;
            margin-bottom: $InputtGap;
            border:2px solid rgba(0,0,0,.200);
            border-radius:5px;
        }

        /*BUTTON STYLE*/
        button{
            margin-top: $ButtonGap;
            border:2px solid rgba(0,0,0,.200);
            padding:10px 40px;
            border-radius: 5px;
            background-color:$Blue;
            color:rgb(255,255,255);
            cursor:pointer;
        }
    }
}

@media screen and (max-width:768px) {

    form{

        width: 100%;
        height: 100%;
        box-shadow:none;

        .conteiner{
            
            padding:30px 20px;
    
            label,input,small,button{
                display:block;
                margin:0 auto;
            }
    
            /*INPUT STYLE*/
            input{
                padding:13px 60px;
                border:2px solid rgba(0,0,0,.200);
                border-radius: 5px;
                outline:none;
                color:#1b1b1b;
            }
    
            /*LABEL STYLE*/
            label{
                margin-bottom: $LabelGap;
                margin-left: 5.30rem;
                font-size:16px;
                color:$Blue;
                text-transform:uppercase;
            }
    
            /*SMALL STYLE*/
            small{
                margin-bottom: 2px;
                margin-left: 5rem;
                text-transform:lowercase;
                color:#ee2020;
            }
    
    
            /*SELECT STYLE*/
            select{
                margin-left: 5.30rem;
                margin-bottom: $InputtGap;
                border:2px solid rgba(0,0,0,.200);
                border-radius:5px;
            }
    
            /*BUTTON STYLE*/
            button{
                margin-top: $ButtonGap;
                border:2px solid rgba(0,0,0,.200);
                padding:13px 43px;
                border-radius: 5px;
                background-color:$Blue;
                color:rgb(255,255,255);
                cursor:pointer;
            }
        }
    }
}